@media screen and (max-width: 1160px) {
    .index-section-1 .portada__body {
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .contenido {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 'b1 b1 b2 b2';
    }

    .body-texto h2 {
        font-size: 32px;
    }

    .body-texto p {
        font-size: 16px;
    }
}
/* Media 991px */
@media screen and (max-width: 991px) {
    .navbar-nav {
        gap: 0;
    }

    .porfolio-section-1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'br1 br2 br3 br4'
        'br5 br6 br7 br8'
        'br9 br10 br11 br12';
    }
}

/* Media 700px */
@media screen and (max-width: 700px) {
    .portada__body h1 {
        font-size: 36px;
    }

    .contenido, .index-section-3 {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .body-texto {
        gap: 5px;
    }

    .body-texto h2, .somos-body h2 {
        font-size: 24px;
        font-weight: bold;
    }

    .body-texto p, .somos-body p {
        line-height: 1.5;
    }

    .body-imagen {
        height: 500px;
    }

    .index-section-3 .somos-body {
        padding: 0;
    }

    .servicios-section-1 .portada__body h1, .nosotros-section-1 .portada__body h1 {
        font-size: 36px;
    }

    .servicios-section-2, .nosotros-section-2 {
        display: flex;
        flex-direction: column;        
        grid-template-rows: auto;
        align-items: center;
    }

    .integrantes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'i1 i2'
        'i3 i4'
        'i5 i6' 
        'i7 i8';
    }

    .porfolio-section-1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'br1 br2'
        'br3 br4'
        'br5 br6' 
        'br7 br8'
        'br9 br10' 
        'br11 br12';
    }

    .escribinos {
        padding: 2%;
    }

    .nuestros-datos {
        padding: 2%;
    }

    .nuestros-datos label {
        font-size: 20px;
        }

    .redes-footer {
        gap: 25px;
    }

    .redes img {
        width: 24px;
    }

    .redes img:hover {
        width: 28px;
    }
}

/* Media 500px */
@media screen and (max-width: 500px) {
    .index-section-1 .portada {
        display: flex;
        flex-direction: column;
    }

    .index-section-1 .portada__body {   
        align-items: center;
    }

    .index-section-1 .portada__body img {
        width: 20%;
        height: 20%;
    }

    .index-section-1 .portada__body h1 {
        width: 100%;
        font-size: 32px;
        text-align: center;
    }

    .servicios-section-1 .portada, .nosotros-section-1 .portada {
        display: flex;
        flex-direction: column;
    }

    .servicios-section-1 .portada__body h1, .nosotros-section-1 .portada__body h1 {
        font-size: 32px;
        padding: 10px;
    }

    .integrantes {
        display: flex;
        flex-direction: column;
    }

    .porfolio-section-1 {
        display: flex;
        flex-direction: column;
    }

    .nuestros-datos__contenido {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contacto-section-2 h2 {
        font-size: 32px;
    }

    .contacto-datos {
        gap: 0;
    }

    .nuestras-redes {
        justify-content: flex-start;
        gap: 5%;
    }

    .redes-footer {
        gap: 10px;
    }

    .redes img {
        width: 20px;
    }

    .redes img:hover {
        width: 24px;
    }
}