.porfolio-section-1 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'br1 br2 br3 br4 br5 br6'
    'br7 br8 br9 br10 br11 br12';
}

.brand {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

.brand:hover {
    filter: grayscale(0);
}

.br1 {
    grid-area: br1;
}
.br2 {
    grid-area: br2;
}
.br3 {
    grid-area: br3;
}
.br4 {
    grid-area: br4;
}
.br5 {
    grid-area: br5;
}
.br6 {
    grid-area: br6;
}
.br7 {
    grid-area: br7;
}
.br8 {
    grid-area: br8;
}
.br9 {
    grid-area: br9;
}
.br10 {
    grid-area: br10;
}
.br11 {
    grid-area: br11;
}
.br12 {
    grid-area: br12;
}
.br13 {
    grid-area: br13;
}